USE [master]
GO
/****** Object:  Database [WardrobeDB]    Script Date: 7/21/2016 9:54:48 AM ******/
CREATE DATABASE [WardrobeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WardrobeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WardrobeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WardrobeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WardrobeDB]
GO
/****** Object:  Table [dbo].[Accesories]    Script Date: 7/21/2016 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accesories](
	[OutfitID] [int] NOT NULL,
	[WaredrobeID] [int] NOT NULL,
 CONSTRAINT [PK_Accesories] PRIMARY KEY CLUSTERED 
(
	[OutfitID] ASC,
	[WaredrobeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Outfits2]    Script Date: 7/21/2016 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outfits2](
	[OutfitID] [int] IDENTITY(1,1) NOT NULL,
	[TopID] [int] NOT NULL,
	[BottomID] [int] NOT NULL,
	[ShoeID] [int] NOT NULL,
 CONSTRAINT [PK_Outfits2] PRIMARY KEY CLUSTERED 
(
	[OutfitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Types]    Script Date: 7/21/2016 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wardrobeitems]    Script Date: 7/21/2016 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wardrobeitems](
	[WardrobeItemsID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Wardrobeitems] PRIMARY KEY CLUSTERED 
(
	[WardrobeItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (1, N'Top')
INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (2, N'Bottom')
INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (3, N'Shoes')
SET IDENTITY_INSERT [dbo].[Types] OFF
ALTER TABLE [dbo].[Accesories]  WITH CHECK ADD  CONSTRAINT [FK_Accesories_Outfits2] FOREIGN KEY([OutfitID])
REFERENCES [dbo].[Outfits2] ([OutfitID])
GO
ALTER TABLE [dbo].[Accesories] CHECK CONSTRAINT [FK_Accesories_Outfits2]
GO
ALTER TABLE [dbo].[Accesories]  WITH CHECK ADD  CONSTRAINT [FK_Accesories_Wardrobeitems] FOREIGN KEY([WaredrobeID])
REFERENCES [dbo].[Wardrobeitems] ([WardrobeItemsID])
GO
ALTER TABLE [dbo].[Accesories] CHECK CONSTRAINT [FK_Accesories_Wardrobeitems]
GO
ALTER TABLE [dbo].[Outfits2]  WITH CHECK ADD  CONSTRAINT [FK_Outfits2_Outfits2] FOREIGN KEY([OutfitID])
REFERENCES [dbo].[Outfits2] ([OutfitID])
GO
ALTER TABLE [dbo].[Outfits2] CHECK CONSTRAINT [FK_Outfits2_Outfits2]
GO
ALTER TABLE [dbo].[Outfits2]  WITH CHECK ADD  CONSTRAINT [FK_Outfits2_Wardrobeitems] FOREIGN KEY([TopID])
REFERENCES [dbo].[Wardrobeitems] ([WardrobeItemsID])
GO
ALTER TABLE [dbo].[Outfits2] CHECK CONSTRAINT [FK_Outfits2_Wardrobeitems]
GO
ALTER TABLE [dbo].[Outfits2]  WITH CHECK ADD  CONSTRAINT [FK_Outfits2_Wardrobeitems1] FOREIGN KEY([BottomID])
REFERENCES [dbo].[Wardrobeitems] ([WardrobeItemsID])
GO
ALTER TABLE [dbo].[Outfits2] CHECK CONSTRAINT [FK_Outfits2_Wardrobeitems1]
GO
ALTER TABLE [dbo].[Outfits2]  WITH CHECK ADD  CONSTRAINT [FK_Outfits2_Wardrobeitems2] FOREIGN KEY([ShoeID])
REFERENCES [dbo].[Wardrobeitems] ([WardrobeItemsID])
GO
ALTER TABLE [dbo].[Outfits2] CHECK CONSTRAINT [FK_Outfits2_Wardrobeitems2]
GO
ALTER TABLE [dbo].[Wardrobeitems]  WITH CHECK ADD  CONSTRAINT [FK_Wardrobeitems_Types] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([TypeID])
GO
ALTER TABLE [dbo].[Wardrobeitems] CHECK CONSTRAINT [FK_Wardrobeitems_Types]
GO
USE [master]
GO
